/venv
glove-wiki-gigaword-50.txt
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/projectIQS.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/iterative_query_selection.cpython-39.pyc
Datasets/TREC_COVID_2019/adhoc-qrels_filtered
Datasets/TREC_COVID_2019/claim_tweet_connection.csv
Datasets/TREC_COVID_2019/claims.csv
Datasets/TREC_COVID_2019/posts.csv
Datasets/TREC_microblog_2012/adhoc-qrels_filtered
Datasets/TREC_microblog_2012/claim_tweet_connection.csv
Datasets/TREC_microblog_2012/claims.csv
Datasets/TREC_microblog_2012/posts.csv
/node_modules
