/venv
glove-wiki-gigaword-50.txt
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/projectIQS.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/iterative_query_selection.cpython-39.pyc
/Datasets
/node_modules
.env
/output
package-lock.json
my-react-app/package-lock.json
my-react-app/package.json
